* {
  box-sizing: border-box;
  border: solid 2px red;
  margin: 10px;
  padding: 5px;
}

/*header{
  width: 100%;
}*/

header{
    background-color: black;
}

#logo{
  color: white;
  padding: 10px;
  text-align: center;
}

#navbar{
  text-align: center;
  /*width: 100%*/
}

#navbar ul li{
  background-color: lightgrey;
  color: white;
  text-align: center;
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

#info-banner h4{
  background-color: lightblue;
}

#photo-count{
  font-weight: bold;
  border-bottom: solid orange 2px;
}

#content-grid{
  display: flex;
}

/*#grid{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: 1fr 10% 1fr 10%;
}*/
